* {
    font-size: 16px;
    font-family: "Roboto", "Arial", "Helvetica";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 2.5em;
    padding-bottom: 0.4em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1.5em;
    padding-bottom: 0.4em;
  }
  
  h4 {
    font-size: 1.25em;
  }
  
  button {
    height: fit-content;
    padding: 1em;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: #03023e;
  }
  
  .flex_row_gap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.6em;
  }
  
  .flex_center {
    display: flex;
    justify-content: center;
  }
  
  .layout {
    display: grid;
    grid-template-columns: auto 1fr;
    /* gap: 2em; */
    /* margin-left: 2em; */
    /* margin-right: 2em; */
  }
  
  .layout aside {
    min-height: 150vh;
    height: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    gap: 3em;
    flex-direction: column;
    background-color: #07995c;
  }
  
  .layout.dealer aside {
    background-color: #03023e;
  }
  
  .layout aside ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
  }
  
  .layout aside ul li {
    padding: 1em 2em;
    color: white;
    background-color: #066940;
    text-align: center;
    cursor: pointer;
  }

  .layout aside ul li a {
    padding: 1em 2em;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .layout.dealer aside ul li {
    background-color: #090696;
  }
  
  .layout aside .top {
    margin-bottom: auto;
  }
  
  .layout aside .bottom {
    margin-top: auto;
  }
  
  .layout aside a {
    text-decoration: none;
  }
  
  .layout .view {
    padding: 2em;
    overflow-x: scroll;
    /* margin-top: 2em;
    margin-bottom: 2em; */
  }
  
  .layout .view .ui {
    position: fixed;
    bottom: 0;
    left: 50%;
    /* width: 85%; */
    /* right: 50%; */
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%);
    gap: 2em;
  }
  
  .layout .view .ui button {
    padding: 0.75em 1.8em;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: #07995c;
    cursor: pointer;
  }
  
  .layout .view .ui button.blue {
    background-color: #03023e;
  }
  
  .content {
    width: fit-content;
    min-width: 100%;
  }
  
  .content.center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content .title {
    text-align: center;
    /* height: 1.27em; */
  }
  
  .table{
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  
  .table th, .table td{
      text-align: center;
      padding: 10px;
  }
  
  .table th{
      background-color: #07995c;
      color: #fff;
  }
  
  .table th:nth-child(odd) {
      background: #05b169;
  }
  
  .table tr:nth-child(even) {
      background: #f5f5f5;
  }
  
  .table tr{
    transition: all .3s;
  }
  
  .table tr:hover{
    background-color: #ccc;
  }
  
  .table td:not(:last-child){
      border-right: 1px solid #ccc;
  }
  
  .content .split {
    /* width: 100%; */
    display: flex;
    gap: 2em;
  }
  
  .content .split > form {
    width: 100%;
  }
  
  .content .split > .smaller {
    width: 50%;
  }
  
  .content .split .center {
    justify-content: center;
    align-items: center;
  }
  
  .content .tag {
    padding: 0.4em 1em;
    width: fit-content;
    margin: 0 auto;
    border-radius: 1em;
    color: white;
    background-color: #03023e;
  }
  
  .content .tag.active {
    background-color: #066940;
  }
  
  .content .tag.highlight {
    color: black;
    background-color: #fffbfb;
  }
  
  .content .title_for_labels {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1em;
  }
  
  .content .inputs_with_label {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .content .inputs_with_label > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  .content .inputs_with_label > div input[type="text"] {
    border: none;
    padding: 1em;
    border-radius: 1em;
    background-color: #d9d9d9;
  }
  
  .content .buttons {
    padding: 2em;
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  
  .content .buttons > div {
    font-size: 1.5em;
    padding: 1em 1.5em;
    background-color: #1f5485;
    color: white;
    border-radius: 1em;
    cursor: pointer;
  }
  
  .content .buttons > div.balance {
    background-color: #03023e;
  }
  
  .content .buttons_field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  
  .content .buttons_field button {
    padding: 1em 2em;
    cursor: pointer;
  }
  
  .content .drag_field {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 6em;
    padding: 1em 2em;
    /* margin-bottom: 1em; */
    border-radius: 1em;
    background-color: #d9d9d9;
    width: 100%;
  }
  
  .content .drag_field .files {
    display: flex;
    gap: 1em;
  }
  
  .content .drag_field .files > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content .grid_ui {
    margin: 1em 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
  
  .content .fields {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .comment_field {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
  }
  
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* flex */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
  }
  
  .window {
    padding: 2em;
    margin: 2em;
    position: relative;
    display: none; /* flex */
    flex-direction: column;
    gap: 1em;
    background-color: #07995c;
    border-radius: 1em;
    box-sizing: content-box;
  }
  
  .window .inputs_with_label {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }
  
  .window .inputs_with_label > .row {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  
  .window .inputs_with_label > .row p {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 0;
  }
  
  .window .inputs_with_label > div input[type="text"],
  .window .inputs_with_label > div input[type="number"],
  .window .inputs_with_label > div textarea {
    width: 100%;
    padding: 0.6em 1em;
    border: none;
    border-radius: 1em;
  }
  
  .window .inputs_with_label > div p {
    padding: 0.25em;
    text-align: center;
    color: white;
  }
  
  .input-file-row {
      display: flex;
  }
  .input-file {
      position: relative;
      display: inline-block;
    white-space: nowrap;
  }
  .input-file span {
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      text-decoration: none;
      font-size: 14px;
      vertical-align: middle;
      color: rgb(255 255 255);
      text-align: center;
      border-radius: 4px;
      background-color: #03023e;
      line-height: 22px;
      height: 40px;
      padding: 10px 20px;
      box-sizing: border-box;
      border: none;
      margin: 0;
      transition: background-color 0.2s;
  }
  .input-file input[type=file] {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: block;
      width: 0;
      height: 0;
  }
   
  .input-file input[type=file]:focus + span {
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
   
  .input-file:hover span {
      background-color: #03023e;
  }
  .input-file:active span {
      background-color: #03023e;
  }
   
  .input-file input[type=file]:disabled + span {
      background-color: #eee;
  }
   
  .input-file-list {
      padding: 10px 0;
  }
  .input-file-list-item {
      display: inline-block;
      margin: 0 15px 15px;
      width: 80px;
      vertical-align: top;
      position: relative;
  }
  .input-file-list-item img {
      width: 80px;
  }
  .input-file-list-name {
      text-align: center;
      display: block;
      font-size: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  .input-file-list-remove {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      position: absolute;
      padding: 0;
      margin: 0;
      top: 5px;
      right: 5px;
      background: #ff0202;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      border-radius: 50%;
  }
  
  
  .profile_picture > div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
  }
  
  .modal .window button {
    padding: 0.75em 1.8em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  .modal .window .close_button {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2em;
    padding: 0.1em 0.45em;
    border-radius: 50%;
    color: white;
    cursor: pointer;
  }
  
  .rating_field {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .rating_field > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 2em;
  }
  
  .rating_field > div .rating {
    display: flex;
  }
  
  .rating_field > div .rating .star {
    width: 2em;
    height: 2em;
    margin: 0 0.2em;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./assets/star.png);
    cursor: pointer;
  }
  
  .rating_field > div .rating .star.active {
    background-image: url(./assets/star_active.png);
  }
  
  .profile_field {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  .profile_field .title {
    padding-bottom: 1em;
  }
  
  .branding {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2em;
  }
  
  .branding .logo {
    max-width: 100%;
    height: 100%;
    min-height: 160px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    /* background-image: url(assets/star.png); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d9d9d9;
    flex-shrink: 0;
    cursor: pointer;
  }
  
  .brand_description {
    width: 100%;
    /* height: 250px; */
    /* height: 100%; */
    padding: 1em;
    border: none;
    border-radius: 1em;
    background-color: #d9d9d9;
  }
  
  .hamb {
    display: none;
  }
  
  .popup {
    display: none;
  }

  @media (max-width: 1000px) {
  
    aside .top {
      display: none;
    }
  
    .hamb {
      display: flex;
      align-items: center;
    }
  
    .hamb.active {
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 150;
    }
  
    .hamb__field {
      padding: 10px 20px;
      cursor: pointer;
    }
  
    .bar {
      display: block;
      width: 30px;
      height: 3px;
      margin: 6px auto;
      background-color: #fff;
      transition: 0.2s;
    }
  
    .popup {
      position: fixed;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #090696;
      z-index: 50;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
    }
  
    .popup.open {
      left: 0;
    }
  
    .popup .menu {
      display: flex;
      flex-direction: column;
      gap: 1em;
      list-style: none;
    }
  
    .popup .menu > li {
      padding: 1em 2em;
      color: white;
      text-align: center;
      cursor: pointer;
    }
  
    .popup .menu > li > a {
      padding: 1em 2em;
      color: white;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
  
    body.noscroll {
      overflow: hidden;
    }
    .table{
      display: block;
      width: 100%;
    }
  
    .table thead, 
      .table tbody, 
      .table thead th {
          display: block;
      }
  
      .table thead {
          float: left;
      }
  
      .table tbody{
        overflow-x: auto;
      }
  
      .table tbody tr {
          display: table-cell;
          border-right: 1px solid #ccc;
      }
  
      .table tbody tr:last-child{
        border-right: none;
      }
  
      .table td{
        display: block;
      }
  
      .table.table td{
          border-right: none;
      }
  
      .table td, .table th {
          padding: 10px 2px;
          box-sizing: border-box;
          overflow: hidden;
          width: 160px;
          font-size: 13px;
          text-overflow: ellipsis;
      }

      .table td:last-child {
        padding: 2px 2px;
      }
      .content .drag_field {
        width: 350px;
      }
      .table {
        margin-bottom: 20px;
      }
  }

