{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todotodo</title>
    <link
      rel="shortcut icon"
      href="{% static 'assets/todotodo_logo.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <section id="login">
        <img src="{% static 'assets/todotodo_logo.png' %}" alt="" />
        <form class="field_login" method="post" action=".">
          {% csrf_token %}
          {{ form }}
          <button type="submit">Изменить</button>
        </form>
        <div class="field_extra">
          <div class="flex_row_gap">
            <span>Есть аккаунт?</span><a href="{% url 'index' %}">Войти</a>
          </div>
          <div>
            <a href="{% url 'signup' %}">Зарегистрироваться</a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>