{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todotodo регистрация</title>
    <link
      rel="shortcut icon"
      href="{% static 'assets/todotodo_logo.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <section>
        <div class="flex_center">
          <img src="{% static 'assets/todotodo_logo.png' %}" alt="" />
        </div>
        <p>Вы успешно прошли регистрацию. Логин и пароль были отправлены на вашу почту.</p>
        <div class="field_extra">
          <div class="flex_row_gap">
            <a href="{% url 'index' %}">Войти</a>
          </div>
          <div>
            <a href="{% url 'password_reset' %}">Восстановить пароль</a>
          </div>
        </div>
    </div>
    <footer style="
    position: relative;
    width: 100%;
    padding: 20px 50px;
    background: #005e37;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    ">
      <ul style="
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
      ">
          <li style="list-style: none;"><a style="
            font-size: 2em;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.5s;
            " href="
https://www.youtube.com/channel/UCvOfU3zTB3rZ-q2AT2JARag"><img src="{% static 'assets/youtube.png' %}" alt=""></a></li>
          <li style="list-style: none;"><a style="
            font-size: 2em;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.5s;
            " href="
https://t.me/todotodo_admin"><img src="{% static 'assets/tg.png' %}" alt=""></a></li>
          <li style="list-style: none;"><a style="
              font-size: 2em;
              color: #fff;
              margin: 0 10px;
              display: inline-block;
              transition: 0.5s;
              " href="
https://wa.me/+79889770777"><img src="{% static 'assets/whatsapp.png' %}" alt=""></a></li>
          <li style="list-style: none;"><a style="
            font-size: 2em;
            color: #fff;
            margin: 0 10px;
            display: inline-block;
            transition: 0.5s;
            " href="viber://chat?number=%2B79889770777"><img src="{% static 'assets/viber.png' %}" alt=""></a></li>
      </ul>
      <p style="
      color: #fff;
      text-align: center;
      margin-top: 15px;
      font-size: 1.1em;
      ">©2022 TodoTodo | All Rights Reserved</p>
  </footer>
  </body>
</html>
