@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-size: 16px;
  font-family: "Roboto", "Arial", "Helvetica";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background-color: #07995c;
} */

.container {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_row_gap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.6em;
}

.flex_center {
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2em;
}

section img:first-child {
  width: 67px;
  max-width: 67px;
  min-width: 67px;
  height: 67px;
  max-height: 67px;
  min-height: 67px;
  margin-bottom: 2em;
  margin: 0 auto;
}

section p {
  color: #15CE73;
}

section h1 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 25px;
}

.field_login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.field_login > input[type="text"],
.field_login > input[type="password"],
.field_login > input[type="tel"],
.field_login > input[type="email"],
.field_login > select {
  width: 100%;
  border: 1px solid rgba(28, 28, 30, 0.48);
  border-radius: 8px;
  padding: 13px 8px 11px;
}

.field_login button {
  width: fit-content;
  padding: 0.8em 1em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}



.field_extra {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.field_extra a {
  color: #15CE73;
  text-decoration: none;
}